<div class="overlay">
  <div class="overlay__container">
    <h1 class="header">Регистрация</h1>

    <div class="container__content">
      <form (ngSubmit)="signUp()" [formGroup]="signUpForm">
        <div class="content__input">
          <input class="text-field text-field__input" formControlName="login" placeholder="Логин">
          <p *ngIf="signUpForm.controls['login'].dirty && signUpForm.controls['login'].hasError('required')"
             class="text-field__p text-field_danger">
            <i>*Логин не может быть пустым.</i>
          </p>
          <p *ngIf="signUpForm.controls['login'].dirty && signUpForm.controls['login'].hasError('minlength')"
             class="text-field__p text-field_danger">
            <i>*Минимальная длина логина 2 символа.</i>
          </p>
          <p *ngIf="signUpForm.controls['login'].dirty && signUpForm.controls['login'].hasError('maxlength')"
             class="text-field__p text-field_danger">
            <i>*Максимальная длина логина 30 символа.</i>
          </p>
        </div>

        <div class="content__input">
          <input class="text-field text-field__input" formControlName="password" placeholder="Пароль" type="password">
          <p *ngIf="signUpForm.controls['password'].dirty && signUpForm.controls['password'].hasError('required')"
             class="text-field__p text-field_danger">
            <i>*Пароль не может быть пустым.</i>
          </p>
          <p *ngIf="signUpForm.controls['password'].dirty && signUpForm.controls['password'].hasError('minlength')"
             class="text-field__p text-field_danger">
            <i>*Минимальная длина пароля 2 символа.</i>
          </p>
          <p *ngIf="signUpForm.controls['password'].dirty && signUpForm.controls['password'].hasError('maxlength')"
             class="text-field__p text-field_danger">
            <i>*Максимальная длина пароля 30 символа.</i>
          </p>
        </div>

        <div class="content__input">
          <input class="text-field text-field__input" formControlName="passwordConfirmation"
                 placeholder="Подтверждение пароля" type="password">
          <p
            *ngIf="signUpForm.controls['passwordConfirmation'].dirty && signUpForm.controls['passwordConfirmation'].hasError('invalidPasswordConfirmation')"
            class="text-field__p text-field_danger">
            <i>*Пароли не совпадают.</i>
          </p>
        </div>

        <div class="content__input">
          <input class="text-field text-field__input" formControlName="name" placeholder="Имя">
          <p *ngIf="signUpForm.controls['name'].dirty && signUpForm.controls['name'].hasError('required')"
             class="text-field__p text-field_danger">
            <i>*Имя не может быть пустым.</i>
          </p>
          <p *ngIf="signUpForm.controls['name'].dirty && signUpForm.controls['name'].hasError('minlength')"
             class="text-field__p text-field_danger">
            <i>*Минимальная длина имени 2 символа.</i>
          </p>
          <p *ngIf="signUpForm.controls['name'].dirty && signUpForm.controls['name'].hasError('maxlength')"
             class="text-field__p text-field_danger">
            <i>*Максимальная длина имени 30 символа.</i>
          </p>
        </div>
      </form>
    </div>

    <div class="container__action">
      <button (click)="signUp()" class="button" type="submit">Подтвердить</button>
      <button (click)="navigateOnCoffees()" class="button">Закрыть</button>
    </div>
  </div>
</div>
