<ul class="top-bar">
  <li class="top-bar__element_left">
    <a [routerLink]="['coffees']" class="element__link">Кофе</a>
  </li>
  <li class="top-bar__element_left">
    <a [routerLink]="['statistics']" class="element__link">Статистики</a>
  </li>
  <li class="top-bar__element_right">
    <a class="element__link">Выйти</a>
  </li>
  <li class="top-bar__element_right">
    <a class="element__link">Зарегистрироваться</a>
  </li>
  <li class="top-bar__element_right">
    <a class="element__link">Войти</a>
  </li>
  <li class="top-bar__element_right">
    <a class="element__link">Пополнить баланс</a>
  </li>
  <li class="top-bar__element_right">
    <p class="text-field text-field__p">Баланс: {{0 | currency: 'RUB': 'symbol-narrow'}}</p>
  </li>
</ul>
